<h1>Hello from Demo component</h1>

<pre>{{object |json }}</pre>
<h2>{{today | date :'dd/MM/yy' }}</h2>

<h2>{{price | currency : 'INR' :'symbol-narrow':'0.0-0'  }}</h2>
<h2>{{price | number :'0.1-2' }}</h2>
<h2>{{name | titlecase | slice :3 }}</h2>

<h3>{{no1}} - {{str}} </h3>

<h3>{{str | uppercase }}</h3>

<button (click)="onButtonClick()">Click Me</button>

<input type="text" (keyup)="onKeyUp()">

<br>
<input type="text" value="{{str}}">
<br>
<input type="text" [value]="no1" [disabled]="flag">

<hr>
<input type="number" [(ngModel)]="a">
<input type="number" [(ngModel)]="b">
<button (click)="onAddClick()">Add</button>
<h1>Answer is {{sum}}</h1>
<hr>
<h3>add using template binding</h3>
<input type="number" #input1>
<input type="number" #input2>
<button (click)="onAdd1Click(input1.value,input2.value)">+</button>
<h1>Answer is {{ans}}</h1>
<hr>
<input type="text" [(ngModel)]="str1">
<h2>{{str1}}</h2>
<hr>
<input type="text" #input3 (keyup)="0">
<h2>{{input3.value}}</h2>
<br>
<br>
