<h1>Todos Component</h1>

<!-- <ul>
  <li *ngFor="let item of arrName">
    {{item}}
  </li>
</ul>

<ul>
  <li *ngFor="let x of arrNumber">
    {{x}}
  </li>
</ul> -->
<div class="container">
  <div class="row">

    <button (click)="onNewAddTaskClick()" class="form-control btn btn-danger">Add new Task</button>
    <div *ngIf="flag;else elseblock">
      <h3>Add Todos</h3>
      <input type="number" [(ngModel)]="id" class="form-control" placeholder="Enter Id">
      <input type="text" [(ngModel)]="title" class="form-control" placeholder="Enter Title">
      <input type="text" [(ngModel)]="status" class="form-control" placeholder="Enter Status">
      <button (click)="onCancelClick()" class="btn btn-primary">Cancel</button>
      <button (click)="onTaskAdd()" class="btn btn-primary">Save Task</button>

    </div>
    <ng-template #elseblock>
      <div>
        <h3>this is else block.</h3>
      </div>
    </ng-template>
  </div>
  <div class="row">
    <h3> Todos</h3>
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrTodos">
          <td>{{item.Id}}</td>
          <td>{{item.Title}}</td>
          <!-- <td *ngIf="item.status=='pending'"> <span style="color:red ;"> {{item.status}} </span> </td>
        <td *ngIf="item.status=='done'"> <span style="color:green ;"> {{item.status}} </span> </td> -->
          <td> <span [ngClass]="{done: item.Status=='done','pending':item.Status=='pending'}"> {{item.Status}} </span>
          </td>
          <td>
            <button (click)="onDeleteTask(item)">Delete</button>
            <button (click)="onEditTask(item)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <ul>
      <li *ngFor="let item of arrTodosinterface">
        {{item.Title}}
      </li>
    </ul>
  </div>
</div>
