<h1>Todos Component</h1>

<!-- <ul>
  <li *ngFor="let item of arrName">
    {{item}}
  </li>
</ul>

<ul>
  <li *ngFor="let x of arrNumber">
    {{x}}
  </li>
</ul> -->
<div class="container">
  <div class="row">

    <button (click)="onNewAddTaskClick()" class="form-control btn btn-danger">Add new Task</button>
    <div *ngIf="flag;else elseblock">
      <h3>Add Todos</h3>
      <input type="number" [(ngModel)]="id" class="form-control" placeholder="Enter Id">
      <input type="text" [(ngModel)]="title" class="form-control" placeholder="Enter Title">
      <input type="text" [(ngModel)]="status" class="form-control" placeholder="Enter Status">
      <button (click)="onCancelClick()" class="btn btn-primary">Cancel</button>
      <button (click)="onTaskAdd()" class="btn btn-primary">Save Task</button>

    </div>
    <ng-template #elseblock>
      <div>
        <h3>this is else block.</h3>
      </div>
    </ng-template>
  </div>
  <div class="row">
    <h3> Todos</h3>
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrTodos">
          <td>{{item.Id}}</td>
          <td>{{item.Title}}</td>
          <!-- <td *ngIf="item.status=='pending'"> <span style="color:red ;"> {{item.status}} </span> </td>
        <td *ngIf="item.status=='done'"> <span style="color:green ;"> {{item.status}} </span> </td> -->
          <td> <span [ngClass]="{done: item.Status=='done','pending':item.Status=='pending'}"> {{item.Status}} </span>
          </td>
          <td>
            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
            <button (click)="onDeleteTask(item)">Delete</button>
            <button (click)="onEditTask(item)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <mat-card *ngFor="let item of arrTodos">{{item.Title}}</mat-card>
    <hr>
    <div class="col-md-12">


      <mat-card *ngFor="let item of arrTodos" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.Id}}</mat-card-title>
          <mat-card-subtitle>dfafs</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{item.Title}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
